
<ion-header>

  <ion-navbar>
    <ion-title>Booking Table</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="fullBody">
    
    <ion-grid padding class="tableGrid">
        <ion-row >
            <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 *ngFor="let item of tableData;" class="ionColCss">
                <div *ngIf="item.status !='unBooking'">
                    <img src="http://hotelsameer.web44.net/Content/AppImages/WaiterHome/tableBooking.jpg" class="bookingImage" alt="productImage"/>  
                    <span class="tableNobook">{{item.tableNo}}</span> <span class="proPricebook">Booking Table</span><br/>
                    <span class="proName">{{item.vendorName}}</span>  
                </div>
            </ion-col>    

        </ion-row>  
    </ion-grid>

</ion-content>
