<ion-header>
    <ion-navbar>
        <ion-title>Billing</ion-title>
    </ion-navbar>
</ion-header>   

<ion-content class="fullBody">  
    
    <ion-refresher (ionRefresh)="doRefresh($event);">
    <ion-refresher-content 
      pullingText="Pull to refresh"
      pullingIcon="refresh-circle"
      refreshingSpinner="circles"
      refreshingText="..fetching">
    </ion-refresher-content>
 </ion-refresher>
    
  
    
    <ion-grid>  
        <ion-row *ngFor="let item of getAllBookingList; let i=index">     
            <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                <div class="panel" >
                    <div class="panel-heading">
                        <span class="pull-left">{{item.date}}</span>
                        <span class="pull-right">{{item.time}}</span><br/>
                    </div>
                    <div class="panel-body">
                        <ion-grid>
                            <ion-row>       
                                <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 *ngIf="item.tableNo!=''">
                                         <span class="itemLeft">Table No: {{item.tableNo}}</span>
                                </ion-col>
                                <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 *ngIf="item.tableCode!=''">
                                         <span class="itemLeft">Table Code: {{item.tableCode}}</span>
                                </ion-col>
                                 <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 *ngIf="item.waiterName!=''">
                                         <span class="itemLeft">Waiter Name: {{item.waiterName}}</span>
                                </ion-col>
                                <table class="table table-bordered table-responsive">
                                        <thead>
                                            <tr>
                                                <th scope="col">Menu </th>
                                                <th scope="col">Submenu</th>
                                                <th scope="col">Qty</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of getAllBookingList[i].extraMenuList">
                                                <td>{{item.ExmenuName}}</td>
                                                <td>{{item.ExsubMenuName}}</td>
                                                <td>{{item.ExQty}}</td>
                                            </tr>
                                        </tbody>
                                    </table> 
                                <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 *ngIf="item.qty!=''">
                                         <span class="itemLeft">Total Price : Rs. {{item.price}}</span>
                                </ion-col>
                                  <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                                      <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6></ion-col>
                                      <ion-col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2>
                                           <span class="paid" *ngIf="item.status=='Paid'">Paid Done</span>    
                                    <button ion-button color="paidcolor" outline *ngIf="item.status=='UnPaid'" (click)="paid(item.id,item.tableNo,item.price)" >
                                          <ion-icon name="checkmark-circle"></ion-icon>Paid
                                    </button>          
                                      </ion-col>
                                    <ion-col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 *ngIf="item.status=='Paid' && item.printStatus=='No'">
                                     <button ion-button color="primary" outline  (click)="insertPrintItem(item.id)" >
                                            <ion-icon name="print"></ion-icon>Print
                                     </button> 
                                    </ion-col>
                                       <ion-col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 *ngIf="item.status=='Paid' && item.printStatus=='Yes'">
                                     <button ion-button color="primary" outline  (click)="getPrintDataAgain(item.id)" >
                                            <ion-icon name="print"></ion-icon>Print
                                     </button> 
                                    </ion-col>
                                       <ion-col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2>
                                    <button ion-button color="danger" outline  (click)="deleteData(item.id,item.tableNo)" >
                                            <ion-icon name="trash"  ></ion-icon>Delete
                                    </button>  
                                       </ion-col>
                                  </ion-col>
                                

                            </ion-row>
                        </ion-grid>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
