page-myprofile {
.fullBody{
    background-image: url("http://menuapphybrid.newapptec.com/Content/Project/Hotel/All/background.png");
}

 .proPhoto{
        height: 150px;
        width: 150px;
    }
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom-color: #DEDEDE !important;
        box-shadow: none !important;
    }  
    .bgTrnasp{
    background-color: transparent;
}
}
